<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Stock Visualization App served by a Bokeh Server Embedded With Flask.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Stock Visualization App</title>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Stock Visualization App</h2>
          <p><a href="https://github.com/mischiatim/flask-framework/">Github</a></p>
        </div>
      </div>
      {{ script|safe }}
    </div>
    
  </body>
</html>
